{% if game.points == 3 %}
    {% set game_class = 'danger' %}
    {% set game_class_title = 'RECULA' %}
{% elif game.points == 2 %}
    {% set game_class = 'warning' %}
    {% set game_class_title = 'POLLONA' %}
{% else %}
    {% set game_class = 'primary' %}
    {% set game_class_title = 'PARTIDO' %}
{% endif %}

<table class="table mb-4">
    <thead>
    <tr class="row m-0 table-{{ game_class }}" style="position: relative">
        <td class="col-6 text-center{% if game.team1_score > game.team2_score %} font-weight-bolder{% endif %}">
            {{ game.team1_player1.name }}
            <hr class="my-1"/>
            {{ game.team1_player2.name }}
        </td>
        <td class="col-6 text-center{% if game.team1_score < game.team2_score %} font-weight-bolder{% endif %}">
            {{ game.team2_player1.name }}
            <hr class="my-1"/>
            {{ game.team2_player2.name }}
            {% if game.points > 1 %}
                <span class="badge badge-pill badge-{{ game_class }}" style="position: absolute; left: -0.9rem; top: 2rem">x{{ game.points }}</span>
            {% endif %}
        </td>
    </tr>
    <tr class="row m-0 table-light">
        <td class="col-6 text-center{% if game.team1_score > game.team2_score %} font-weight-bolder{% endif %}">{{ game.team1_score }}</td>
        <td class="col-6 text-center{% if game.team1_score < game.team2_score %} font-weight-bolder{% endif %}">{{ game.team2_score }}</td>
    </tr>
    <tr data-toggle="collapse" data-target="#datas-{{ game.id }}"
        aria-expanded="true" aria-controls="datas-{{ game.id }}" style="cursor: pointer">
        <td class="p-0 table-active text-center">DATAS</td>
    </tr>
    </thead>
    <tbody class="collapse" id="datas-{{ game.id }}">
    {% for data in game.game_datas %}
        <tr class="row m-0 table-light text-center border-bottom">
            {% if data.is_for_team1 %}
                <td class="col-6 font-weight-bold">{{ data.score }}</td>
                <td class="col-6 text-muted">0</td>
            {% else %}
                <td class="col-6 text-muted">0</td>
                <td class="col-6 font-weight-bold">{{ data.score }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>