<div class="row mb-4">
    <div class="col-3">
        <div class="card">
            <h5 class="card-header text-center">Ranking global{% if min_games_count and min_games_count > 0 %} (+{{ min_games_count }} juegos){% endif %}</h5>
            {% with data = leader_board, extra = inactive_leader_board %}
                {% include 'statistics/_leader_board.html' %}
            {% endwith %}
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <h5 class="card-header text-center">Ranking hoy</h5>
            {% if leader_board_today.count() > 0 %}
                {% with data = leader_board_today %}
                    {% include 'statistics/_leader_board.html' %}
                {% endwith %}
            {% else %}
                <div class="card-body text-center">No hay datos</div>
            {% endif %}
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <h5 class="card-header text-center">Por parejas hoy</h5>
            {% if versus_team_leader_board.count() > 0 %}
                {% with data = versus_team_leader_board %}
                    {% include 'statistics/_versus_team_leader_board.html' %}
                {% endwith %}
            {% else %}
                <div class="card-body text-center">No hay datos</div>
            {% endif %}
        </div>
    </div>
    <div class="col-2">
        <div class="card">
            <h5 class="card-header text-center">Ultimos 10 hoy</h5>
            {% set count = today_games.count() %}
            {% if count > 0 %}
                {% for game in today_games %}
                    <div class="col-12 p-0">
                        {% include 'games/_boxscore_horizontal.html' %}
                        {% if loop.index < count %}
                            <hr class="my-2"/>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="card-body text-center">No hay datos</div>
            {% endif %}
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col-3">
        <div class="card">
            <h5 class="card-header text-center">Total de Juegos Ganados</h5>
            {% if total_games_leader_board.count() > 0 %}
                {% with data = total_games_leader_board %}
                    {% include 'statistics/_total_games_leader_board.html' %}
                {% endwith %}
            {% else %}
                <div class="card-body text-center">No hay datos</div>
            {% endif %}
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <h5 class="card-header text-center">Total de Partidos Ganados</h5>
            {% if total_single_games_leader_board.count() > 0 %}
                {% with data = total_single_games_leader_board %}
                    {% include 'statistics/_total_games_leader_board.html' %}
                {% endwith %}
            {% else %}
                <div class="card-body text-center">No hay datos</div>
            {% endif %}
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <h5 class="card-header text-center">Total de Pollonas Ganadas</h5>
            {% if total_double_games_leader_board.count() > 0 %}
                {% with data = total_double_games_leader_board %}
                    {% include 'statistics/_total_games_leader_board.html' %}
                {% endwith %}
            {% else %}
                <div class="card-body text-center">No hay datos</div>
            {% endif %}
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <h5 class="card-header text-center">Total de Reculas Ganadas</h5>
            {% if total_triple_games_leader_board.count() > 0 %}
                {% with data = total_triple_games_leader_board %}
                    {% include 'statistics/_total_games_leader_board.html' %}
                {% endwith %}
            {% else %}
                <div class="card-body text-center">No hay datos</div>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <div class="card">
            <h5 class="card-header text-center">Total de Juegos Perdidos</h5>
            {% if total_lost_games_leader_board.count() > 0 %}
                {% with data = total_lost_games_leader_board %}
                    {% include 'statistics/_total_games_leader_board.html' %}
                {% endwith %}
            {% else %}
                <div class="card-body text-center">No hay datos</div>
            {% endif %}
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <h5 class="card-header text-center">Total de Partidos Recibidos</h5>
            {% if total_lost_single_games_leader_board.count() > 0 %}
                {% with data = total_lost_single_games_leader_board %}
                    {% include 'statistics/_total_games_leader_board.html' %}
                {% endwith %}
            {% else %}
                <div class="card-body text-center">No hay datos</div>
            {% endif %}
        </div>
    </div>
    <div class="col-3">
        <div class="card info">
            <h5 class="card-header text-center">Total de Pollonas Recibidas</h5>
            {% if total_lost_double_games_leader_board.count() > 0 %}
                {% with data = total_lost_double_games_leader_board %}
                    {% include 'statistics/_total_games_leader_board.html' %}
                {% endwith %}
            {% else %}
                <div class="card-body text-center">No hay datos</div>
            {% endif %}
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <h5 class="card-header text-center">Total de Reculas Recibidas</h5>
            {% if total_lost_triple_games_leader_board.count() > 0 %}
                {% with data = total_lost_triple_games_leader_board %}
                    {% include 'statistics/_total_games_leader_board.html' %}
                {% endwith %}
            {% else %}
                <div class="card-body text-center">No hay datos</div>
            {% endif %}
        </div>
    </div>
</div>
