<div class="text-center text-muted mb-1 mt-n4">
    <small class="font-weight-lighter">Actualizando en <span id="countdown"></span><span id="dots"></span></small>
</div>
<div class="row mb-4">
    <div class="col">
        {% if current_game %}
            <table class="table table-borderless table-dark m-0">
                <tbody>
                <tr class="row">
                    <td class="col-5 text-right">
                        <h1 class="font-weight-lighter">
                            {% if current_game_status > 1 %}
                                {% if current_game_status == 2 and current_game.team1_score == 0 %}
                                    <img src="{{ url_for('static', filename='img/warning-2.svg') }}" width="35"
                                         class="flash ml-2 mb-1" alt=""/>
                                {% elif current_game_status == 3 and current_game.game_datas[0].is_for_team1 %}
                                    <img src="{{ url_for('static', filename='img/warning-3.svg') }}" width="35"
                                         class="flash ml-2 mb-1" alt=""/>
                                {% endif %}
                            {% endif %}
                            {{ current_game.team1_player1.name }} - {{ current_game.team1_player2.name }}
                        </h1>
                    </td>
                    <td class="col-1 text-right pr-4"><h1 class="font-weight-bolder">{{ current_game.team1_score }}</h1>
                    </td>
                    <td class="col-1 text-left pl-4"><h1 class="font-weight-bolder">{{ current_game.team2_score }}</h1>
                    </td>
                    <td class="col-5 text-left">
                        <h1 class="font-weight-lighter">
                            {{ current_game.team2_player1.name }} - {{ current_game.team2_player2.name }}
                            {% if current_game_status > 1 %}
                                {% if current_game_status == 2 and current_game.team2_score == 0 %}
                                    <img src="{{ url_for('static', filename='img/warning-2.svg') }}" width="35"
                                         class="flash ml-2 mb-1" alt=""/>
                                {% elif current_game_status == 3 and not current_game.game_datas[0].is_for_team1 %}
                                    <img src="{{ url_for('static', filename='img/warning-3.svg') }}" width="35"
                                         class="flash ml-2 mb-1" alt=""/>
                                {% endif %}
                            {% endif %}
                        </h1>
                    </td>
                </tr>
                </tbody>
            </table>
        {% else %}
            <div class="card">
                <div class="card-body text-center">
                    <h2>No hay juego un juego abierto</h2>
                </div>
            </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <h5 class="card-header text-center">Ranking personal</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        {% with data = leader_board %}
                            {% include 'statistics/_leader_board.html' %}
                        {% endwith %}
                    </div>
                    <div class="col-6">
                        {% with data = leader_board_today %}
                            {% include 'statistics/_leader_board.html' %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <h5 class="card-header text-center">Enfrentamientos personales</h5>
            <div class="card-body">
                {% with data = versus_leader_board %}
                    {% include 'statistics/_versus_leader_board.html' %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>