<table class="table table-hover m-0">
    <thead>
    <tr class="table-info row m-0">
        <th scope="col" class="text-center px-2 border-top-0" style="width: 12%">#</th>
        <th scope="col" class="px-2 border-top-0" style="width: 26%">Jugador</th>
        <th scope="col" class="px-2 border-top-0" style="width: 26%">Rival</th>
        {% if tv %}
            <th scope="col" class="text-right px-2 border-top-0" style="width: 12%">G</th>
            <th scope="col" class="text-right px-2 border-top-0" style="width: 12%">P</th>
            <th scope="col" class="text-right px-2 border-top-0" style="width: 12%">+/-</th>
        {% else %}
            <th scope="col" class="text-right px-2 border-top-0" style="width: 12%">
                <a href="{{ url_for(request.endpoint, tab='versus-leader-board', versus_leader_board_order_by='wins_score DESC') }}">G</a>
            </th>
            <th scope="col" class="text-right px-2 border-top-0" style="width: 12%">
                <a href="{{ url_for(request.endpoint, tab='versus-leader-board', versus_leader_board_order_by='loses_score DESC') }}">P</a>
            </th>
            <th scope="col" class="text-right px-2border-top-0" style="width: 12%">
                <a href="{{ url_for(request.endpoint, tab='versus-leader-board', versus_leader_board_order_by='balance DESC, wins_score DESC') }}">+/-</a>
            </th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% set first_second_half_index = (data.count() / 2) | int %}
    {% for record in data %}
        <tr class="row m-0{% if loop.index == first_second_half_index %} border-bottom{% endif %} table-{% if record[6] < 0 %}danger{% elif record[6] == 0 %}warning{% else %}default{% endif %}">
            <th scope="row" class="text-center px-2" style="width: 12%">
                {% if loop.index < 4 %}
                    <img src="{{ url_for('static', filename='img/medal-' + (loop.index | string) + '.svg') }}"
                         alt="{{ loop.index }}" style="height: 1.37em"/>
                {% else %}
                    {{ loop.index }}
                {% endif %}
            </th>
            <td class="px-2" style="width: 26%">{{ record[1] }}</td>
            <td class="px-2" style="width: 26%">{{ record[3] }}</td>
            <td class="text-right px-2" style="width: 12%">{{ record[4] }}</td>
            <td class="text-right px-2" style="width: 12%">{{ record[5] }}</td>
            <th scope="row" class="text-right px-2" style="width: 12%">{{ record[6] }}</th>
        </tr>
    {% endfor %}
    </tbody>
</table>
