{% import 'bootstrap/wtf.html' as wtf %}

<form action="{{ url_for('game_datas.new') }}" method="post" class="game-data-form">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-6 col-sm-8 pr-1">
            <div class=" m-0">
                {{ form.score(class='form-control text-center', type='number', pattern='[0-9]*') }}
            </div>
        </div>
        <div class="col-6 col-sm-4 pl-1">
            <button type="button" class="btn btn-primary w-100 px-0" onclick="raiseAnnotationModal(this)"
                    data-team-members="{% if form.is_for_team1.data == 1 %}{{ current_game.team1_player1.name }} y {{ current_game.team1_player2.name }}{% else %}{{ current_game.team2_player1.name }} y {{ current_game.team2_player2.name }}{% endif %}">
                <span class="d-none d-lg-block">{{ form.submit.label.text }}</span>
                <span class="d-block d-lg-none">+</span>
            </button>
        </div>
    </div>
</form>
